.dockerignore
.git
.gitignore
.github
.mypy_cache
.pytest_cahce
.deployment

docker/db_images
docker/handler_discovery
docker/docker-bake.hcl
docker/docker-compose.yml
docker/*.Dockerfile
docker/docker-compose*
docker/README.md
var

**/__pycache__
