[flake8]
min_python_version = 3.10.0
max-line-length = 120
ignore =
  # Line too long
  E501,
  # Line break occurred before a binary operator
  W503,
  # Function is too complex
  C901,
  # Do not compare types, use 'isinstance()': https://www.flake8rules.com/rules/E721.html
  E721
per-file-ignores =
  mindsdb/__main__.py: E402
  mindsdb/api/http/start.py: E402
  mindsdb/api/mysql/mysql_proxy/libs/constants/mysql.py: E241
  mindsdb/integrations/handlers/lightwood_handler/tests/test_lightwood_handler.py: E402
exclude =
  .venv,
  build/*
  tests/unused/*
max-complexity = 18
