*__pycache__*
var
etc
.idea
mindsdb/logs
mindsdb/logs
logs
tests/temp
/integration_tests/flows/config/*
my_model.zip
model.py
tests/integration_tests/flows/model.py
tests/integration_tests/flows/my_model.zip
.vscode
distributions/docker-compose/*/storage
venv/*
root
static
tmp
.pytest_cache
*mindsdb.sqlite3.db
mindsdb.sqlite3.db
tests/used_car_price_external/ds.pickle
tests/used_car_price_external/test.csv
used_car_price_external/ds.pickle
used_car_price_external/test.csv
used_car_price_predictor/ds.pickle
