*__pycache__*
var
etc
.idea
mindsdb/logs
mindsdb/logs
logs
tests/temp
tests/docker/mariadb/connectData
tests/docker/mariadb/jars
tests/docker/clickhouse/database
tests/docker/mysql/storage
/integration_tests/flows/config/*
