exclude: "^databricks_src|^data_engineering/"
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      - id: ruff-check
      - id: ruff-format
        args: [ --check ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        exclude: "^helm/"
        args: [--unsafe]
      - id: check-merge-conflict
