language: python
matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true 
notifications:
  # send notifications only on master failure
  email:
    only: master
cache: pip
# install dependencies
install:
  - pip install -r requirements.txt
before_script: cd integration_testing
# run tests
script:
  - python3 run_tests.py