cython>=0.29.2
setuptools>=21.2.1
wheel>=0.32.2
xlrd>=0.9.0
attrs>=18.2.0
socketio>=3.1.0
eventlet>=0.24.1
openpyxl>=2.5.8
Automat>=0.7.0
certifi>=2018.8.24
chardet>=3.0.4
Click>=7.0
constantly>=15.1.0
Flask>=1.0.2
Flask-SocketIO>=3.0.2
hyperlink>=18.0.0
idna>=2.7
incremental>=17.5.0
itsdangerous>=0.24
Jinja2>=2.10
MarkupSafe>=1.0
numpy>=1.15.2
pandas>=0.23.4
Pillow>=5.3.0
PyHamcrest>=1.9.0
pymongo>=3.7.1
python-dateutil>=2.7.3
python-engineio>=2.3.1
python-socketio>=2.0.0
pytz>=2018.5
requests>=2.20.0
scikit-learn>=0.20.0
scipy>=1.1.0
six>=1.11.0
sklearn>=0.0
tinydb>=3.11.1
tinydb-serialization>=1.0.3
tinymongo>=0.2.0
torch>=0.4.1
torchvision>=0.2.1
Twisted>=18.7.0
txaio>=18.8.1
urllib3>=1.23
Werkzeug>=0.14.1
zope.interface>=4.5.0
