cython>=0.29.2
setuptools>=21.2.1
wheel>=0.32.2
attrs>=18.2.0
chardet>=3.0.4
numpy>=1.15.2
pandas>=0.23.4
pymongo>=3.7.1
python-dateutil>=2.7.3
python-engineio>=2.3.1
python-socketio>=2.0.0
pytz>=2018.5
requests>=2.20.0
scipy>=1.1.0
scikit-learn>=0.20.3
tinydb>=3.11.1
tinydb-serialization>=1.0.3
tinymongo>=0.2.0
torch>=1.0.1.post2
torchvision>=0.2.1
urllib3>=1.23
zope.interface>=4.5.0
colorlog>=4.0.2
tensorflow==1.13.1
tensorflow-estimator>=1.13.0
ludwig>=0.1.0
