# copy to project rooot as .env to run integration tests if you need custom settings
TEST_DB_USER=test_user
TEST_DB_PASSWORD=test_password
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=test_db
TEST_DB_SCHEMA=public

