body {
  font-family: "futura-pt", sans-serif; }

@media (max-width: 1200px) {
  .wrapper {
    margin-left: 1.81818rem; } }

@media (max-width: 992px) {
  .wrapper {
    margin-left: 2rem; } }

@media (max-width: 768px) {
  .wrapper {
    margin-left: 0; } }

.wrapper .gridBlock .fourByGridBlock {
  flex: 1 0 20%;
  margin: 0 2rem 2rem 0;
  background-color: #ffffff;
  padding: 5rem 3.33333rem;
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.15);
  background-size: 35px; }
  @media (max-width: 768px) {
    .wrapper .gridBlock .fourByGridBlock {
      flex: 1 0 20%; } }
  @media (max-width: 768px) {
    .wrapper .gridBlock .fourByGridBlock {
      margin: 0 0 2rem 0; } }

.blockElement.alignCenter.imageAlignTop.fourByGridBlock
.blockContent
h2
> div
> span
> p {
  text-align: center; }

.blockContent p {
  hyphens: auto;
  text-align: justify; }

.blockImage img {
  width: 50%; }

.fourByGridBlock {
  padding: 4rem 1rem 4rem 1rem; }

.productShowcaseSection.paddingBottom {
  padding-bottom: 4rem;
  padding-top: 4rem; }

.downloadSection {
  background-color: #f5f5f5; }

.productShowcaseSection p {
  margin: 0 auto;
  max-width: 900px;
  font-size: 1.2rem; }

.docMainWrapper .wrapper {
  padding-top: 3rem;
  margin-bottom: 4rem; }

.mainContainer {
  padding: 0; }
  .mainContainer .wrapper .post .postHeader {
    padding-top: 2rem; }

.imageAlignTop .blockImage {
  max-width: 100px; }

.toc .toggleNav ul li a {
  font-size: inherit; }

.section-title {
  color: "#00b06d";
  letter-spacing: 0.7px;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem; }

.nav-footer {
  letter-spacing: 0.5px;
  padding: 2rem; }

.nav-footer a {
  color: white !important; }

.nav-footer a:hover {
  text-decoration: underline; }

.copyright {
  margin-top: 4rem;
  border-top: 1px solid white !important;
  padding-top: 1rem;
  color: #fff !important; }

.copyright a {
  color: white; }

.headerTitleWithLogo {
  display: none !important; }

.mindsdb-primary {
  background-color: #00b06d; }

.mindsdb-secondary {
  color: white !important; }

@font-face {
  font-family: 'Open Sans';
  font-srtyle: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
