requests>=2.28.1
charset-normalizer>=2.1.1
protobuf<3.21.0 # for lightwood
langchain==0.0.312 
SQLAlchemy
duckdb==0.7.1
chromadb==0.3.25
pydantic>=1.10.8
sentence_transformers==2.2.2
markupsafe == 2.0.1
faiss-cpu>=1.7.4 #todo check support for 'faiss-gpu'
datasets>=2.14.4
nltk>=3.8.1
rouge-score>=0.1.2
dill==0.3.6 #for lightwood
writerai==0.30.1

