:root{
    --md-primary-fg-color: #36333D !important;
	--md-typeset-color: #4A515E !important;
	--md-default-fg-color--light:	#36333D !important;
}

.block {
	position: static;
	width: 80%;
	margin: 2rem auto;
	text-align: center;
}

.grid1 {
	grid-column-gap: 76px;
	grid-row-gap: 44px;
	grid-template-rows: auto;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 0.75fr 0.75fr 0.75fr;
	align-items: stretch;
}

.grid_div_card {
	padding: 2rem;
	background-color: #fff;
	box-shadow: 0 0 50px -5px rgba(0, 0, 0, .15);
	width: 100%;
	height: 100%;
}

.val {
	display: block;
	margin-top: 5rem;
	margin-bottom: 6rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.md-grid {
	max-width: 75rem;
}

.grid_mt {
	margin-top: 20px;
}

.grid_div_card_image {
	margin-right: auto;
	margin-left: auto;
}

.tableheader-copy {
	margin-top: 1rem;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	border-style: none;
	border-width: 1px;
	border-color: #2c263f;
	border-radius: 1px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #2c263f;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}

.tableheader-copy-copy {
	margin-top: 1rem;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	border-style: none;
	border-width: 1px;
	border-color: #2c263f;
	border-radius: 1px;
	font-family: 'Source Code Pro', sans-serif;
	color: #5d6970;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}
.nav-download-btn{
    font-weight: bold;
    font-style: normal;
    fill: #FFF;
	margin: auto;
	padding: 9px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
    border-radius: 10px;
}

h1{
	font-weight: 700 !important;
	font-size: 35px !important;
	line-height: 36px !important;
	letter-spacing: 0.3px !important;
}

h2{
	font-weight: 600 !important;
	font-size: 25px !important;
	line-height: 32px !important;
	letter-spacing: 0.3px !important;
}


h3{
	font-style: normal !important;
	font-weight: 600 !important;
	font-size: 20px !important;
	line-height: 20px !important;
	padding-left: 10px !important;
}

h3 ~ p {
	margin-left: 10px !important;
}

p a {
	font-weight: 500;
}

p a:hover {
	font-weight: 500;
	color: #00A587 !important;
}

p:not(.admonition-title){
	padding-left: 5px !important;
}

.md-nav__link{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #818085 !important;
	margin-top: 0.2rem;
}

.md-nav__link--active{
	font-size: 14px !important;
	font-weight: 700 !important;
	color: #00A587 !important;
}

.md-nav__title{
	display: none;
}

.md-header__inner.md-grid{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.md-header__title{
	margin-top: 5px !important;
	margin-left: 0;
}

.md-content{
	padding-left: 5vw;
	padding-right: 5vw;
}
