:root{
    --md-primary-fg-color: #00b06d !important;
}        

.block {
	position: static;
	width: 80%;
	margin: 2rem auto;
	text-align: center;
}

.grid1 {
	grid-column-gap: 76px;
	grid-row-gap: 44px;
	grid-template-rows: auto;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 0.75fr 0.75fr 0.75fr;
	align-items: stretch;
}

.grid_div_card {
	padding: 2rem;
	background-color: #fff;
	box-shadow: 0 0 50px -5px rgba(0, 0, 0, .15);
	width: 100%;
	height: 100%;
}

.val {
	display: block;
	margin-top: 5rem;
	margin-bottom: 6rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.md-grid {
	max-width: 75rem;
}

.grid_mt {
	margin-top: 20px;
}

.grid_div_card_image {
	margin-right: auto;
	margin-left: auto;
}

.tableheader-copy {
	margin-top: 1rem;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	border-style: none;
	border-width: 1px;
	border-color: #2c263f;
	border-radius: 1px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #2c263f;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}

.tableheader-copy-copy {
	margin-top: 1rem;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	border-style: none;
	border-width: 1px;
	border-color: #2c263f;
	border-radius: 1px;
	font-family: 'Source Code Pro', sans-serif;
	color: #5d6970;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}
.nav-download-btn{
    font-weight: bold;
    font-style: normal;
    fill: #FFF;
	margin: auto;
	padding: 9px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
    border-radius: 10px;
}