packaging==24.2
flask == 3.0.3
werkzeug == 3.0.6
flask-restx==1.3.0
pandas==2.0.3
pandas-gbq==0.28.0
python-multipart == 0.0.18
pyparsing == 2.3.1
cryptography==44.0.0
psycopg[binary]
waitress==3.0.2
pymongo[srv] == 4.8.0
psutil==5.9.8
sqlalchemy==2.0.35
starlette==0.45.3
psycopg2-binary  # This is required for using sqlalchemy with postgres
alembic ==1.14.1
redis == 5.2.1
walrus==0.9.3
flask-compress == 1.17
appdirs==1.4.4
mindsdb-sql-parser == 0.2.0
pydantic ==2.7.4
mindsdb-evaluator == 0.0.15
duckdb == 0.9.1
requests == 2.32.3
pydateinfer==0.3.0
dataprep_ml==24.5.1.2
dill == 0.3.6
numpy==1.26.4
pytz==2024.2
botocore==1.36.10
boto3==1.36.10
python-dateutil==2.9.0.post0
gunicorn==23.0.0
scikit-learn==1.5.2
protobuf==3.20.3
hierarchicalforecast==0.4.3
google-auth-oauthlib==1.2.1
msal==1.31.1
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-experimental==0.3.3
langchain-nvidia-ai-endpoints==0.3.3
langchain-openai==0.2.6
langchain-anthropic==0.2.4
langchain-text-splitters==0.3.2
langfuse==2.53.3  # Latest as of November 4, 2024
lark==1.2.2
lxml==5.3.0 # Required for knowledge base webpage embeddings
pgvector==0.3.6 # Required for knowledge bases
prometheus-client==0.20.0
transformers == 4.48.2
sentry-sdk[flask] == 2.14.0
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-instrumentation-requests==0.48b0
opentelemetry-instrumentation-flask==0.48b0
opentelemetry-distro==0.48b0

# files reading
pymupdf==1.25.2
filetype==1.2.0
charset-normalizer==3.4.1
openpyxl==3.1.5 # used by pandas to read txt files


psycopg==3.2.4
psycopg-binary==3.2.4

ray==2.41.0
scipy==1.15.1
tab-transformer-pytorch==0.4.1
teradatasql==20.0.0.23
tiktoken==0.8.0
torchmetrics==1.6.1
typer==0.15.1
utilsforecast==0.2.11
tzlocal==5.2
websockets==14.2
zstd==1.5.6.2
anthropic==0.45.2
