Werkzeug==1.0.1
lightwood >= 23.8.1.0, < 23.8.2.0
pandas >=2.0.0, <2.1.0
markupsafe == 2.0.1
flask-restx >= 1.0.1, < 2.0.0
flask >= 1.0, < 2.0
itsdangerous==2.0.1
jinja2<3.1.0
python-multipart >= 0.0.5
pyparsing == 2.3.1
cryptography>=35.0
psycopg[binary] >= 1.15.3
psycopg2-binary
python-tds >= 1.10.0
waitress >= 1.4.4
pymongo[srv] >= 4.1.1
setuptools
psutil
sqlalchemy >= 2.0.0, < 3.0.0
alembic >= 1.3.3
sentry-sdk
walrus==0.8.2
flask-compress >= 1.0.0
appdirs >= 1.0.0
mindsdb-sql >= 0.7.0, < 0.8.0
mindsdb-evaluator >= 0.0.7, < 0.1.0
checksumdir >= 1.2.0
duckdb == 0.6.0
requests >= 2.0.0
mysql-connector-python
charset-normalizer
pyOpenSSL >= 22.0.0
pydateinfer==0.3.0
pyarrow >= 10.0.1, < 10.1.0
dataprep_ml
python-magic >= 0.4.27
openpyxl >= 3.1.1
dill == 0.3.6
slack_sdk
