black==24.3.0 #updating so it doesn't clash with lightwood
flake8==5.0.4
isort==5.10.1
pre-commit>=2.16.0
watchfiles==0.19.0
setuptools
wheel
deptry==0.20.0
twine
importlib_metadata==7.2.1 #fix twine bug