# -------------------------------------
# MindsDB Connection Details
# -------------------------------------
# Local development connection (default)
MINDSDB_PROTOCOL=http
MINDSDB_HOST=127.0.0.1
MINDSDB_PORT=47334
MINDSDB_USER=
MINDSDB_PASSWORD=

# Example for a remote, authenticated connection
# MINDSDB_PROTOCOL=https
# MINDSDB_HOST=cloud.mindsdb.com
# MINDSDB_PORT=443
# MINDSDB_USER=your_email@example.com
# MINDSDB_PASSWORD=your_mindsdb_password

# -------------------------------------
# Data Source Credentials
# -------------------------------------

# PostgreSQL
PG_SOURCE_HOST=samples.mindsdb.com
PG_SOURCE_PORT=5432
PG_SOURCE_DATABASE=demo
PG_SOURCE_USER=demo_user
PG_SOURCE_PASSWORD=demo_password
PG_SOURCE_SCHEMA=sample_data

# Databricks
DATABRICKS_HOST=
DATABRICKS_WAREHOUSE_ID=
DATABRICKS_TOKEN=
DATABRICKS_CATALOG=samples
DATABRICKS_SCHEMA=tpch

# Snowflake
SNOWFLAKE_HOST=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=SNOWFLAKE_