name: Build and deploy to staging

on:
  # Using pull_request instead of push on main because we want access to the pull request's details via 'github.event'
  # But it means we need to check below if this PR was merged and not just closed
  pull_request:
    types:
      - closed

jobs:
  
  # Build our docker images based on our bake file
  build:
    if: github.event.pull_request.merged == true
    name: Build Docker Images
    runs-on: mdb-dev
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-build
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - name: Pull MindsDB Github Actions
        uses: actions/checkout@v4
        with:
          repository: mindsdb/github-actions
          path: github-actions
          ssh-key: ${{ secrets.GH_ACTIONS_PULL_SSH }}
      # Build the bakefile and push
      - uses: ./github-actions/docker-bake
        with:
          push-cache: false

  # Push cache layers to docker registry
  # This is separate to the build step so we can do other stuff in parallel
  build-cache:
    name: Push Docker Cache
    runs-on: mdb-dev
    needs: [build]
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-cache
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Pull MindsDB Github Actions
        uses: actions/checkout@v4
        with:
          repository: mindsdb/github-actions
          path: github-actions
      # Build the bakefile and push
      - uses: ./github-actions/docker-bake
        with:
          push-cache: true
          cache-only: true

  # Call our deployment workflow
  deploy:
    name: Deploy to Staging
    needs: [build]
    uses: ./.github/workflows/deploy.yml
    with:
      deploy-envs: '["staging", "hackathon", "dev", "alpha-dev"]'
      image-tag: ${{ github.sha }}
    secrets: inherit

  # Run integration tests
  # TODO: Run these against the deployed environment
  run_tests:
    if: github.event.pull_request.merged == true
    name: Run Integration Tests
    needs: [deploy]
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-tests
      cancel-in-progress: true
    uses: ./.github/workflows/test_on_deploy.yml
    secrets: inherit
  
  slack_message:
    if: always()
    name: Notify Slack
    needs: [run_tests]
    runs-on: mdb-dev
    steps:
      - name: Notify of failing tests
        if: needs.run_tests.result == 'failure'
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: ${{ secrets.SLACK_DEPLOYMENTS_CHANNEL_ID }}
          payload: |
            {
              "attachments": [
                {
                  "color": "#FF4444",
                  "blocks": [
                    {
                      "type": "header",
                      "text": {
                        "type": "plain_text",
                        "text": "TEST RUN FAILED ON MAIN",
                        "emoji": true
                      }
                    },
                    {
                      "type": "section",
                      "text": {
                        "type": "mrkdwn",
                        "text": " "
                      },
                      "fields": [
                        {
                          "type": "mrkdwn",
                          "text": "*Commit*\n<${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Workflow Run*\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }}>"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
        env:
          SLACK_BOT_TOKEN: ${{ secrets.GH_ACTIONS_SLACK_BOT_TOKEN }}
