name: Build and deploy release

permissions:
  contents: read
  pull-requests: write
  pages: write
  id-token: write

on:
  release:
    types: [published]
    paths-ignore:
      - "docs/**"
      - "README.md"

env:
  UV_LINK_MODE: "symlink"

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  run_unit_tests:
    name: Run Unit Tests
    uses: ./.github/workflows/tests_unit.yml
    secrets: inherit

  # Check that the version defined in the github release is valid
  check-version:
    name: Check Code Version
    runs-on: mdb-dev
    needs: [run_unit_tests]
    if: github.actor != 'mindsdbadmin'
    steps:
      - uses: actions/checkout@v4
      - uses: FranzDiebold/github-env-vars-action@v2
      - name: Set up Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: ${{ vars.CI_PYTHON_VERSION }}
      - name: Check Version
        run: |
          PYTHONPATH=./ python tests/scripts/check_version.py ${{ env.CI_REF_NAME }} ${{ github.event.release.prerelease }}

  # Push a new release to PyPI
  deploy_to_pypi:
    name: Publish to PyPI
    runs-on: mdb-dev
    needs: [check-version, run_unit_tests]
    if: github.actor != 'mindsdbadmin'
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          cache-local-path: "/home/runner/_work/_tool/uv-local-cache"  # Place cache in the tool dir because we mount this in our runnners
          prune-cache: false                                           # We want to save all cache because it's in the mount^
          python-version: ${{ vars.CI_PYTHON_VERSION || '3.11' }}      # Default to 3.11 where vars aren't available (PRs from forks)
      - name: Install dependencies
        run: |
          uv pip install -r requirements/requirements-dev.txt
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          # This uses the version string from __about__.py, which we checked matches the git tag above
          uv pip install build
          python -m build
          twine upload dist/*

  # Build our docker images based on our bake file
  # This will tag with the release version tag and push to both dockerhub and ECR
  build:
    name: Build Docker Images
    runs-on: mdb-dev
    needs: [check-version, run_unit_tests]
    if: github.actor != 'mindsdbadmin'
    steps:
      - uses: actions/checkout@v4
      - name: Docker Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      # Build the bakefile and push
      - uses: mindsdb/github-actions/docker-bake@main
        with:
          push-to-dockerhub: true
          push-cache: false

  # Push cache layers to docker registry
  # This is separate to the build step so we can do other stuff in parallel
  build-cache:
    name: Push Docker Cache
    runs-on: mdb-dev
    needs: [build]
    steps:
      - uses: actions/checkout@v4
      # Build the bakefile and push
      - uses: mindsdb/github-actions/docker-bake@main
        with:
          push-cache: true
          cache-only: true

  # Call our deployment workflow
  deploy:
    name: Deploy to Prod
    needs: [build]
    uses: ./.github/workflows/deploy.yml
    with:
      deploy-envs: '["prod"]'
      image-tag: ${{ github.event.release.tag_name }}
      prod: true
    secrets: inherit
    
  # Trigger private repo to deploy the docker desktop extension
  trigger_dd_extension_release:
    name: Deploy Docker Desktop Extension
    runs-on: mdb-dev
    needs: [build]
    if: github.actor != 'mindsdbadmin'
    steps:
      - uses: FranzDiebold/github-env-vars-action@v2
      - uses: convictional/trigger-workflow-and-wait@v1.6.5
        with:
          owner: mindsdb
          repo: mindsdb-docker-extension
          github_token: ${{ secrets.REPO_DISPATCH_PAT_TOKEN }}
          workflow_file_name: bump-mindsdb-version.yml
          ref: main
          client_payload: '{"image-tag": "${{ env.CI_REF_NAME }}"}'
  
  # Run integration tests
  run_integration_tests:
    name: Run Integration Tests
    needs: [deploy]
    concurrency:
      group: deploy-prod
      cancel-in-progress: false
    uses: ./.github/workflows/tests_integration.yml
    with:
      git-sha: ${{ github.event.release.tag_name }}
      deploy-env: prod
      runs-on: mdb-prod
    secrets: inherit

  tests_completed:
    name: All Tests Succeeded
    needs: [run_unit_tests, run_integration_tests]
    runs-on: mdb-dev
    steps:
      - name: fail if tests failed or didnt run
        if: ${{ needs.run_unit_tests.result != 'success' || needs.run_integration_tests.result != 'success'}}
        run: exit 1
      - run: echo "Tests ran successfully"

  slack_message:
    if: failure() && !cancelled()
    name: Notify Slack
    # Every previous job needs to be in here, because failure() will only return true if the job that failed is in 'needs'
    needs: [check-version, run_unit_tests, deploy_to_pypi, build, build-cache, deploy, trigger_dd_extension_release, run_integration_tests, tests_completed]
    runs-on: mdb-dev
    steps:
      - name: Notify of failing tests
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: ${{ secrets.SLACK_ENG_CHANNEL_ID }}
          payload: |
            {
              "attachments": [
                {
                  "color": "#FF4444",
                  "blocks": [
                    {
                      "type": "header",
                      "text": {
                        "type": "plain_text",
                        "text": "TEST RUN FAILED ON RELEASE ${{ github.event.release.tag_name }}",
                        "emoji": true
                      }
                    },
                    {
                      "type": "section",
                      "text": {
                        "type": "mrkdwn",
                        "text": " "
                      },
                      "fields": [
                        {
                          "type": "mrkdwn",
                          "text": "*Commit*\n<${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Workflow Run*\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }}>"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
        env:
          SLACK_BOT_TOKEN: ${{ secrets.GH_ACTIONS_SLACK_BOT_TOKEN }}
