name: Build and deploy to dev

on:
  pull_request_target:
    types: [opened, reopened, synchronize, labeled]
    branches:
      - 'main'

jobs:

  # Looks for labels like "deploy-to-<env>" attached to a PR so we can deploy to those envs
  get-deploy-labels:
    name: Get Deploy Envs
    runs-on: mdb-dev
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-labels
      cancel-in-progress: true
    environment:
      name: ${{ github.event.pull_request.head.repo.fork && 'manual-approval' || '' }}
    outputs:
      deploy-envs: ${{ steps.get-labels.outputs.deploy-envs }}
    steps:
      - name: Pull MindsDB Github Actions
        uses: actions/checkout@v4
        with:
          repository: mindsdb/github-actions
          path: github-actions
      - id: get-labels
        uses: ./github-actions/get-deploy-labels

  # Build our docker images based on our bake file
  build:
    name: Build Docker Images
    runs-on: mdb-dev
    needs: [get-deploy-labels]
    if: needs.get-deploy-labels.outputs.deploy-envs != '[]'
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-build
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Pull MindsDB Github Actions
        uses: actions/checkout@v4
        with:
          repository: mindsdb/github-actions
          path: github-actions
      # Build the bakefile and push
      - uses: ./github-actions/docker-bake
        with:
          git-sha: ${{ github.event.pull_request.head.sha }}
          target: cloud-cpu
          platforms: linux/amd64
          push-cache: false

  # Push cache layers to docker registry
  # This is separate to the build step so we can do other stuff in parallel
  build-cache:
    name: Push Docker Cache
    runs-on: mdb-dev
    needs: [build]
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-cache
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Pull MindsDB Github Actions
        uses: actions/checkout@v4
        with:
          repository: mindsdb/github-actions
          path: github-actions
      # Build the bakefile and push
      - uses: ./github-actions/docker-bake
        with:
          git-sha: ${{ github.event.pull_request.head.sha }}
          target: cloud-cpu
          platforms: linux/amd64
          push-cache: true
          cache-only: true

  # Call our deployment workflow, so long as this is not a forked PR
  # This will run the deployment workflow in the base branch, not in the PR.
  # So if you change the deploy workflow in your PR, the changes won't be reflected in this run.
  deploy:
    name: Deploy
    needs: [build, get-deploy-labels]
    if: needs.get-deploy-labels.outputs.deploy-envs != '[]'
    uses: ./.github/workflows/deploy.yml
    with:
      deploy-envs: ${{ needs.get-deploy-labels.outputs.deploy-envs }}
      image-tag: ${{ github.event.pull_request.head.sha }}
    secrets: inherit

  # Run integration tests against the deployed environment
  run_tests:
    name: Run Integration Tests
    needs: [deploy, get-deploy-labels]
    if: always()
    strategy:
      fail-fast: false
      matrix:
        deploy-env: ${{ fromJson(needs.get-deploy-labels.outputs.deploy-envs) }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-tests
      cancel-in-progress: true
    uses: ./.github/workflows/test_on_deploy.yml
    with:
      git-sha: ${{ github.event.pull_request.head.sha }}
      deploy-env: ${{ matrix.deploy-env }}
    secrets: inherit

  tests_completed:
    needs: run_tests
    runs-on: mdb-dev
    if: always()
    steps:
      - name: fail if tests failed or didnt run
        if: ${{ needs.run_tests.result != 'success' }}
        run: exit 1
      - run: echo "Tests ran successfully"
