name: Unit Tests

on:
  workflow_call:

defaults:
  run:
    shell: bash

permissions:
  contents: read        # For checkout and comparing commits
  pull-requests: write  # For creating/updating PR comments

env:
  HANDLERS_TO_INSTALL: |
    postgres
    mysql
    salesforce
    snowflake
    timescaledb
    mssql
    oracle
    slack
    redshift
    bigquery
    clickhouse
    web
    databricks
    github
    ms_teams
    statsforecast
    chromadb
  # We measure 80% on this handlers, as they are the verified
  HANDLERS_TO_VERIFY: |
    mysql
    salesforce
    postgres
    snowflake
    timescaledb
    mssql
    oracle
    slack
    file
    redshift
    bigquery
  COVERAGE_FAIL_UNDER: "80"

jobs:


    
  # Creates a matrix of environments to test against using matrix_includes.json
  matrix_prep:
    name: Prepare matrix
    runs-on: mdb-dev
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - id: set-matrix
        uses: JoshuaTheMiller/conditional-build-matrix@v2.0.1
        with:
          filter: "[?runOnBranch==`${{ github.ref }}` || runOnBranch==`always`]"

 
  unit_tests:
    name: Run Unit Tests
    needs: [matrix_prep]
    strategy:
      matrix: ${{ fromJson(needs.matrix_prep.outputs.matrix) }}
    runs-on: ${{ matrix.runs_on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          INSTALL_HANDLERS=()
          while IFS= read -r handler; do
            handler=${handler//$'\r'/}
            [[ -z "${handler}" || "${handler}" =~ ^[[:space:]]*# ]] && continue
            INSTALL_HANDLERS+=("${handler}")
          done <<< "${HANDLERS_TO_INSTALL}"
          HANDLER_EXTRAS=()
          for handler in "${INSTALL_HANDLERS[@]}"; do
            HANDLER_EXTRAS+=(".[${handler}]")
          done
          uv pip install ".[agents,kb]" \
            -r requirements/requirements-test.txt \
            "${HANDLER_EXTRAS[@]}"
          # Onuxruntime is required for ChromaDB, once we have default pgvector we can remove it
          uv pip install --force-reinstall onnxruntime==1.20.1
          git clone --branch v$(uv pip show mindsdb_sql_parser | grep Version | cut -d ' ' -f 2) https://github.com/mindsdb/mindsdb_sql_parser.git parser_tests
          
      - name: Run unit tests
        run: |
          make unit_tests_slow

      - name: Run handler coverage
        if: ${{ matrix.python-version == '3.11' && matrix.runs_on == 'ubuntu-latest' }}
        run: |
          uv run tests/scripts/check_handler_coverage.py
        env:
          COVERAGE_FILE: .coverage.unit

      - name: Build handler coverage report (text)
        if: ${{ matrix.python-version == '3.11' && matrix.runs_on == 'ubuntu-latest' }}
        run: |
          uv run coverage report \
            --include="mindsdb/integrations/handlers/*" \
            --skip-covered \
            --show-missing \
            > pytest-coverage-handlers.txt

      - name: Pytest coverage comment
        if: ${{ matrix.python-version == '3.11' && matrix.runs_on == 'ubuntu-latest' }}
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage-handlers.txt
          junitxml-path: ./pytest.xml
          report-only-changed-files: false
          hide-report: false
