name: Unit Tests

on:
  workflow_call:

defaults:
  run:
    shell: bash

permissions:
  contents: read        # For checkout and comparing commits
  pull-requests: write  # For creating/updating PR comments

env:
  HANDLERS_TO_INSTALL: |
    postgres
    mysql
    salesforce
    snowflake
    timescaledb
    mssql
    oracle
    slack
    redshift
    bigquery
    clickhouse
    web
    databricks
    github
    ms_teams
    statsforecast
    chromadb
    confluence
  # We measure 80% on this handlers, as they are the verified
  HANDLERS_TO_VERIFY: |
    mysql
    salesforce
    postgres
    snowflake
    timescaledb
    mssql
    oracle
    slack
    file
    redshift
    bigquery
    confluence
  COVERAGE_FAIL_UNDER: "80"

jobs:
  # Run all of our static code checks here
  code_checking:
    name: Run static code checks
    runs-on: mdb-dev
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # required to grab the history of the PR so pre-commit can work out what's changed
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          cache-local-path: "/home/runner/_work/_tool/uv-local-cache" # Place cache in the tool dir because we mount this in our runnners
          prune-cache: false # We want to save all cache because it's in the mount^
          python-version: ${{ vars.CI_PYTHON_VERSION || '3.11' }} # Default to 3.11 where vars aren't available (PRs from forks)
      # Checks the codebase for print() statements and fails if any are found
      # We should be using loggers instead
      - name: Check for print statements
        run: |
          # The pyproject file confuses uv: https://github.com/astral-sh/uv/issues/6838
          rm pyproject.toml
          uv run tests/scripts/check_print_statements.py
      
      - name: Install MDB dev requirements
        run: |
          uv pip install -r requirements/requirements-dev.txt

      # Run pre-commit on all changed files
      # See .pre-commit-config.yaml for the list of checks
      - name: Run pre-commit
        run: |
          pre-commit run --show-diff-on-failure --color=always --from-ref ${{ github.event.pull_request.base.sha || 'HEAD~1' }} --to-ref ${{ github.event.pull_request.head.sha || 'HEAD' }}

      # Runs a few different checks against our many requirements files
      # to make sure they're in order
      - name: Check requirements files
        run: |
          uv run tests/scripts/check_requirements.py
  # Creates a matrix of environments to test against using matrix_includes.json
  matrix_prep:
    name: Prepare matrix
    runs-on: mdb-dev
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - id: set-matrix
        uses: JoshuaTheMiller/conditional-build-matrix@v2.0.1
        with:
          filter: "[?runOnBranch==`${{ github.ref }}` || runOnBranch==`always`]"

  check_install:
    name: Check pip installation
    needs: [matrix_prep, code_checking]
    strategy:
      matrix: ${{ fromJson(needs.matrix_prep.outputs.matrix) }}
    runs-on: ${{ matrix.runs_on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      - name: Check pip package builds and installs
        run: |
          uv pip install -r requirements/requirements-dev.txt
          # Install from the pip package
          # If we install from source, we don't know if the pip package is installable.
          python setup.py sdist
          cd dist
          uv pip install *.tar.gz

  unit_tests:
    name: Run Unit Tests
    needs: [matrix_prep, code_checking]
    strategy:
      matrix: ${{ fromJson(needs.matrix_prep.outputs.matrix) }}
    runs-on: ${{ matrix.runs_on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          INSTALL_HANDLERS=()
          while IFS= read -r handler; do
            handler=${handler//$'\r'/}
            [[ -z "${handler}" || "${handler}" =~ ^[[:space:]]*# ]] && continue
            INSTALL_HANDLERS+=("${handler}")
          done <<< "${HANDLERS_TO_INSTALL}"
          HANDLER_EXTRAS=()
          for handler in "${INSTALL_HANDLERS[@]}"; do
            HANDLER_EXTRAS+=(".[${handler}]")
          done
          uv pip install ".[agents,kb]" \
            -r requirements/requirements-test.txt \
            "${HANDLER_EXTRAS[@]}"
          # Onuxruntime is required for ChromaDB, once we have default pgvector we can remove it
          uv pip install --force-reinstall onnxruntime==1.20.1
          git clone --branch v$(uv pip show mindsdb_sql_parser | grep Version | cut -d ' ' -f 2) https://github.com/mindsdb/mindsdb_sql_parser.git parser_tests
          
      - name: Run unit tests
        run: |
          make unit_tests_slow

      - name: Run handler coverage
        if: ${{ matrix.python-version == '3.11' && matrix.runs_on == 'ubuntu-latest' }}
        run: |
          uv run tests/scripts/check_handler_coverage.py

      - name: Pytest coverage comment
        if: ${{ matrix.python-version == '3.11' && matrix.runs_on == 'ubuntu-latest' }}
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
