name: Test on Deploy

permissions:
    contents: read

on:
  workflow_call:
    inputs:
      git-sha:
        required: false
        type: string
        default: ""
      deploy-env:
        required: true
        type: string
    secrets:
      OPENAI_API_KEY:
        required: true
  workflow_dispatch:
    inputs:
      git-sha:
        required: false
        type: string
        default: ""
      deploy-env:
        required: true
        type: string
    secrets:
      OPENAI_API_KEY:
        required: true

defaults:
  run:
    shell: bash

env:
  UV_LINK_MODE: "symlink"

jobs:
  # Run our integration tests
  test:
    environment:
      name: ${{ inputs.deploy-env }}
      url: ${{ vars.MDB_ENV_URL }}
    name: Run integration tests on deploy
    runs-on: mdb-dev
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ inputs.git-sha }}
    - name: Setup uv
      uses: astral-sh/setup-uv@v5
      with:
        # Place cache in the tool dir because we mount this in our runnners
        cache-local-path: "/home/runner/_work/_tool/uv-local-cache"
        prune-cache: false
        python-version: ${{ vars.CI_PYTHON_VERSION || '3.11' }}
    - name: Install dependencies
      run: |
        uv pip install -r requirements/requirements-test.txt
    - name: Prepare artifacts dir
      run: mkdir -p artifacts
    - name: Collect integration tests list
      run: |
        pytest tests/integration --collect-only -q > artifacts/tests-collected.txt
    - name: Run Integration Tests with coverage
      run: |
        pytest tests/integration -q \
          --junitxml=artifacts/junit-integration.xml \
          --cov=mindsdb \
          --cov-report=xml:artifacts/coverage-integration.xml \
          --cov-report=html:artifacts/coverage-html-integration
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        INTERNAL_URL: ${{ vars.MINDSDB_INTERNAL_URL }}
    - name: Zip coverage HTML
      if: always()
      run: |
        cd artifacts
        if [ -d coverage-html-integration ]; then
          zip -r coverage-html-integration.zip coverage-html-integration
        fi
    - name: Upload integration artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: integration-artifacts
        path: artifacts/*
